body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav-bar {
    background-color: navy;
    height: 50px;
    width: 100%;
    position: absolute;
    top: 0px;
}

#gallery-container {
    height: 450px;
    width: 100%;
    background-color: rgb(26, 26, 26);
    position: absolute;
    top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

#gallery {
    border: 1px solid black;
    background-color: white;
    height: 400px;
    width: 60%;
}

.scroll {
    height: 100%;
    width: 15%;
    background-color: rgb(104, 99, 99, .2);
    position: absolute;
}

#gallery-scroll-left {
    left: 0px;
}

#gallery-scroll-right {
    right: 0px;
}

#about-me-top {
    width: 100%;
    height: 450px;
    position: absolute;
    top: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about-me-header {
    position: absolute;
    font-size: 48px;
    top: 50px;
}

#about-me-subheader {
    position: absolute;
    top: 100px;
}

#about-me-text {
    position: absolute;
    width: 60%;
    text-align: center;
    font-size: 24px;
    top: 200px;
}

#about-me-bottom {
    width: 100%;
    height: 450px;
    position: absolute;
    background-color: palevioletred;
    top: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 2s;
    z-index: 1;
}

#about-me-bottom-text {
    font-size: 60px;
}

#about-me-bottom:hover {
    cursor: pointer;
}
